* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
}

.buttons {
  max-width: 100%;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-align: right;
}
